/**
 * TEI PAGE BREAKS
 * Styles for page breaks, both original and edition.
 */
@use "sass:math";

.pb {
  &.edition,
  &.orig {
    display: none;
  }
}

div.tei.show_pageBreakEdition .pb.edition,
div.tei.show_pageBreakOriginal .pb.orig {
  font-family: var(--font-stack-app-base);
  display: revert;
}

div.tei.show_pageBreakEdition .pb.edition {
  color: var(--pageBreakEdition-color, #8f6b28);
}

div.tei.show_pageBreakOriginal .pb.orig {
  color: var(--pageBreakOriginal-color, #b32fa0);
}

/* Size of page numberings at different font sizes. */
.miniFontSize .pb {
  &.edition,
  &.orig {
    font-size: math.ceil(0.875 * $text-fontsize-mini);
  }
}

.tinyFontSize .pb {
  &.edition,
  &.orig {
    font-size: math.ceil(0.875 * $text-fontsize-tiny);
  }
}

.xxxsmallFontSize .pb {
  &.edition,
  &.orig {
    font-size: math.ceil(0.875 * $text-fontsize-xxxsmall);
  }
}

.xxsmallFontSize .pb {
  &.edition,
  &.orig {
    font-size: math.ceil(0.875 * $text-fontsize-xxsmall);
  }
}

.xsmallFontSize .pb {
  &.edition,
  &.orig {
    font-size: math.ceil(0.875 * $text-fontsize-xsmall);
  }
}

.smallFontSize .pb {
  &.edition,
  &.orig {
    font-size: math.ceil(0.875 * $text-fontsize-small);
  }
}

.mediumFontSize .pb {
  &.edition,
  &.orig {
    font-size: math.ceil(0.875 * $text-fontsize-medium);
  }
}

.largeFontSize .pb {
  &.edition,
  &.orig {
    font-size: math.ceil(0.875 * $text-fontsize-large);
  }
}

.xlargeFontSize .pb {
  &.edition,
  &.orig {
    font-size: math.ceil(0.875 * $text-fontsize-xlarge);
  }
}
